<!DOCTYPE html>
<html>
<head>
  <title>Interapp</title>
  <%= stylesheet_link_tag    "interapp/application", media: "all" %>
  <%= javascript_include_tag "interapp/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
